<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talker</title>
    <link rel= "stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="talker_nav">
        <div class="talker_nav_logo">
            <a href="#" class="Talker_logo">Talker</a>
        </div>
        <div class="talker_nav_you">
            <a class="Talker_you" href="#">Register</a>
            <br>
            <a class="Talker_you" href="#">Login</a>
        </div>
    </div>


    <div class="talks_container">
        <form class="talk_input_container" action="" method="post">
            <textarea name="text" id="text" required>Talk</textarea>
            <div class = "geo_and_files">
                <input type="image" name="img">
            </div>
                <button class="submit_button" type="submit">
                    Talk
                </button>
        </form>
        
        
                <div class="talk">
                    <div class="talk_inner_user_name">
                        <a class="talker_username" href="#">UserName</a>
                    </div>
                    <div class="talk_inner_text">
                        <a class="talk_talk">
                            It's so great to use that service!
                        </a>
                    </div>
                    <div class="talk_inner_answer">
                        <a class="answer" href="#">Answer</a>
                    </div>
                </div>
    </div>
</div>
</body>
</html>