<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_profile.username }}</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="talker_nav">
        <div class="talker_nav_logo">
            <a href="{% url 'home' %}" class="Talker_logo">Talker</a>
        </div>
            <div class="talker_nav_you">
                <a class="Talker_you" href="{% url 'registration' %}">Register</a>
                <br>
                <a class="Talker_you" href="{% url 'login' %}">Login</a>
            </div>
    </div>

    <div class="name_follow_button">
        <h2>Username</h2>
           <button>Follow!</button>
    </div>

    <div class="talks_container">
                <div class="talk">
                    <div class="talk_inner_user_name">
                        <a class="talker_username"
                           href="{% url 'profile' talk.author.username %}">UserName</a>
                    </div>
                    <div class="talk_inner_text">
                        <a class="talk_talk">
                            It's My page!
                        </a>
                    </div>
                    <div class="talk_inner_answer">
                        <a class="answer" href="{% url 'talk_page' talk.id %}">Answer</a>
                    </div>
                </div>
    </div>
</div>
</body>
</html>